[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cffi==1.17.1
cryptography==45.0.5
pycparser==2.22
pypdf==5.8.0

[dev-packages]

[requires]
python_version = "3.13"
